p{
  margin: 0;
}
ul{
  margin:0;
  padding:0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color:inherit;
}

.container{
  margin-top: 89px;
}

img{
  width:100%;
}
.title{
  font-size: 30px;
  font-weight: bold;
}